<!-- Polarad Nav Bar -->
<nav class="navbar navbar-light bg-white">
    <a class="navbar-brand logo-text" href="/">

        {{!-- Polarad Logo and Home Link --}}
        <img src="/images/polarad_icon.svg" width="45" height="45" class="d-inline-block align-top"
            alt="Polarad Logo"> Polarad
    </a>

    {{!-- Search Bar--}}
    <form class="form-inline search-bar">
        <input class="form-control" type="text" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" />
    </form>

    {{#if loggedIn}}
    <div class="set">
        {{!-- Profile Picture --}}
        <a class="user-login" href=""></a>
        {{!-- <img class="mr-1 rounded-circle" src="images/default-user.jpg" width="45" height="45" alt="Profile Picture"> --}}
        <!-- Username with Dropdown Menu of Links-->
        <div class="btn-group dropdown">
            <img class="mr-1 rounded-circle dropdown-toggle" id="profileDropdown" src="/images/default-user.jpg"
                width="45" height="45" alt="Profile Picture" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/upload">Post Image</a>
                <a class="dropdown-item" href="/update/:account">Edit Profile</a>
                <a class="dropdown-item" href="#">Account Settings</a>
                <a class="dropdown-item" href="/">Sign Out</a>
            </div>
        </div>
    </div>
    {{else}}
    <div class="set">
        {{!-- Login Button // Links to Index --}}
        <a href="/">
        <button type="button" class="btn btn-primary" id="login-navbtn">Log in</button>
        </a>
        {{!-- Sign Up Button // Links to Index --}}
        <a href="/">
        <button type="button" class="btn" id="sign-up-navbtn">Sign up</button>
        </a>
    </div>
    {{/if}}



</nav>