body
{
    background-color: #eeeeee;
}

/* profile pic account */
#profilepicmain
{
    position: relative;
    left: 25%;
    top: 20%;
    height: 150px;
    width: 150px;
}

/* follow button on modal */
#modalfollow
{
    position: relative;
    top: 0%;
    left: 40%;
    font-weight: bold;
}

/* account name on main accout page */
#accountName
{
    position: relative;
    top: 60px;
    left: 50px;
}

#profilepicsmall
{
    height: 40px;
    width: 40px;
}

/* account name on modal */
#accountNamemodal
{
    display: inline;
    position: relative;
    left: 25%;  
}

/* rounds the corners of images */
.rounded-corners
{
    border-radius: 100%;
}

/* follow button on accountpage */
#followbutton
{
    position: relative;
    left: 275px;
    top: 20px;
}

/* number of posts */
#postsNum
{
    position: relative;
    top: 40px; 
    left: 50px;  
}

/* number of followers */
#followCount
{
    position: relative;
    left: 150px;
    top: 8px;
}


#bioheading
{
    position: relative;
    left: 50px;
    top: 20px;
}

#biotext
{
    position: relative;
    left: 50px;
    top: 10px;
}

/* post divider */
#postslabel
{
    display: inline;
    position: relative;
    left: 40%;
}

#likepic
{
    height: 35px;
    width: 35px;
}

/* modal cose button */
#Xclose
{
    position: relative;
    bottom: 15px;
    left: 10px;
    
}

textarea
{
    resize: none;
}

.form-control 
{
    background-color: #eeeeee;
}


/* Nav Bar */

.logo-text 
{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

h1 
{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding: 15px;
    margin-bottom: 30px;
}

.search-bar 
{
    position: absolute;
    left: 43%;
}

/* login navbar change */
.set 
{
    right: 0;
    padding-right: 10px;
}

.btn-primary 
{
    border: none;
}

#login-btn, #login-navbtn
{
    margin-right: 5px;
    font-weight: bold;
    color: white;
}

#sign-up-btn, #sign-up-navbtn 
{
    font-weight: bold;
    color: black;
}

/* profile pic navbar */
#profileDropdown
{
    position: relative;
    right: 25%;
}

/* profile pic navbar dropdown */
.dropdown-menu.show 
{
    display: block;
    position: absolute;
    left: -300%;
}


/* Index */

.login 
{
    width: 250px;
    height: 400px;
    background-color: white;
    text-align: center;
    margin-top: 150px;
}

#username-input, #password-input 
{
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    font-style: italic
}

/* or word lines */
.border-or 
{
    border-bottom: 1px solid #ccc;
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* or word */
.or 
{
    position: absolute;
    left: 750px;
    top: 450px;
    background-color: white;
    padding: 5px;
}

/* Upload and Edit Profile*/

h2 
{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    padding: 5px;
    text-align: center;
}

.border 
{
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}

.form-section 
{
    width: 800px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
}

#upload-btn, #update-btn 
{
    margin-left: 685px;
}

.images {
    border: 10px solid white;
}